.wrapper{
    background-color: black;
    width:100%;
    padding: 50px 0px;
    font-family: 'Huninn';
}
@font-face {
    font-family: 'Huninn';
    src: url('../fonts/jf-openhuninn-2.0.ttf') format("truetype");
}